<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <extensions>
    <add assembly="Gelf4NLog.Target"/>
  </extensions>


  <targets>
    <target xsi:type="ColoredConsole"
          name="coloredConsole"
          layout="${level:uppercase=true:padding=-5:fixedlength=true} |  ${message} ${exception:format=tostring}"
          useDefaultRowHighlightingRules="true">
    </target>
    
    <target  name="file" 
             xsi:type="File" 
             fileName="${basedir}/logs/${shortdate}.log" 
             layout="${longdate} | ${level:uppercase=true:padding=-5:fixedlength=true} | ${logger} - ${message} ${exception:format=tostring}" />

    <target name="graylog" 
            xsi:type="graylog" 
            hostip="54.87.105.183" 
            hostport="12201" 
            facility="test-runtime" />
    <!--
    <target xsi:type="Database"
          name="db"
          dbUserName="Layout"
          dbProvider="String"
          useTransactions="Boolean"
          connectionStringName="DbConnection"
          connectionString="Layout"
          keepConnection="Boolean"
          dbDatabase="Layout"
          dbPassword="Layout"
          dbHost="Layout"
          installConnectionString="Layout"
          commandText="Layout">
      <install-command commandType="Enum" connectionString="Layout" ignoreFailures="Boolean" text="Layout"/>
      <uninstall-command commandType="Enum" connectionString="Layout" ignoreFailures="Boolean" text="Layout"/>
      <parameter layout="Layout" name="String" precision="Byte" scale="Byte" size="Integer"/>
    </target>
    -->
    
  </targets>

  <rules>

    
    <logger name="*" level="Debug" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="coloredConsole" />
    <logger name="*" minlevel="Info" writeTo="graylog" />
    <!--
     
     <logger name="*" level="Trace" writeTo="db" />
     <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>